body {
    background-color: rgb(85, 90, 90);
    display: flex;
    justify-content: center;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
    text-align: center;
}
h3 {
    font-family: sans-serif;
    align-self: stretch;
    justify-self: center;
}
.container {
    height: 620px;
    width: 500px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:10% 35% 55%;
    justify-items: center;
    align-items: stretch;
    background-color: rgba(245, 245, 245, 0.774);
}
#setTimes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: stretch;
    justify-self: stretch;
}
.clock {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;
    align-items: stretch;
    justify-self: stretch;
    justify-items: center;
    padding-top: 50px;
}
.playPause {
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: stretch;
    justify-items: center;
}
.timer {
    justify-self: stretch;
    align-self: stretch;  
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;  
}
.stopRestart {
    justify-self: center;
    align-self: center;
}
#play {
    justify-self: center;
    align-self: stretch;
}
#pause {
    justify-self: center;
    align-self: stretch;
}
.stopRestart {
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: stretch;
    justify-items: center;
}
#stop {
    justify-self: center;
    align-self: stretch;
    
}
#restart {
    justify-self: center;
    align-self: stretch;
}
button {
    width: 40%;
    margin-bottom: 5px;
}
.session {
    display: grid;
    justify-self: stretch;
    align-self: stretch;
    justify-items: center;
    grid-template-rows: 45% 55%;
}
.break {
    display: grid;
    justify-self: stretch;
    align-self: stretch;
    justify-items: center;  
    grid-template-rows: 45% 55%; 
}
.upDown {
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 100%;
    align-items: stretch;
    justify-items: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#breakTime {
    justify-self: center;
    align-self: center;
    justify-items: center;
}
#sessionTime {
    justify-self: center;
    align-self: center;
}
#cycle {
    justify-self: stretch;
    align-self: center;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}